extends layout

block content
  h1= title
  p Welcome to #{title}
  p#username 
  form#req_form(action='/evaluate', method='get')
    #text_box
      - for(var i in features)
        div
          | #{features[i].name}: 
          input(type='text', name='#{features[i].name}',placeholder='#{features[i].init}' )
      button(type='submit') Predict
    p.status Please Waiting~
  script(type='text/javascript').
    function getCookie(c_name)
    {
    if (document.cookie.length>0)
    {
    c_start=document.cookie.indexOf(c_name + "=")
    if (c_start!=-1)
    {
    c_start=c_start + c_name.length+1
    c_end=document.cookie.indexOf(";",c_start)
    if (c_end==-1) c_end=document.cookie.length
    return unescape(document.cookie.substring(c_start,c_end))
    }
    }
    return ""
    }
    $(document).ready(function() {
      options = {
          success:  function(res){
            $('.status').html('Appraisal: ' + res);
          }
      }
      var username = getCookie('username');
      if(username) $('#username').html('username:' + username);
      $('.status').hide();
      $('#req_form').submit(function() {
        $('.status').html('Please Waiting~');
        $('.status').show();
        $(this).ajaxSubmit(options);
        return false; 
      });
    });

